@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 100;
}
header .nav-left {
  display: flex;
  align-items: center;
}
header .nav-left .logo {
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  width: 12rem;
}
header .nav-link a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
header .nav-link a:not(:last-child) {
  margin-right: 10px;
}
header .icons-link a {
  font-size: 1.2em;
  color: black;
  font-size: 1.6em;
}
header .icons-link a:not(:last-child) {
  margin-right: 20px;
}

.home {
  background: url("../../src/images/home-bg-3.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}
.home .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
}
.home .content .search-form {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  height: fit-content;
  width: 20rem;
}
.home .content .search-form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .content .search-form form .search-box {
  background: transparent;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.2em;
}
.home .content .search-form form label {
  padding-right: 1rem;
}
.home .content h2 {
  font-weight: 700;
  font-size: 60px;
  margin-top: 4rem;
  text-shadow: 2px 2px #ECECEC;
}
.home .content h3 {
  font-weight: 500;
  font-size: 40px;
  margin-top: 7rem;
  text-shadow: 2px 2px #ECECEC;
}

.type-of .type-of-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.type-of .type-of-container > p {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 60px;
}
.type-of .type-of-container hr {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 100px;
}
.type-of .type-of-container .product-con {
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  gap: 7rem;
  margin: 0 auto;
  justify-content: center;
}
.type-of .type-of-container .product-con .product-item,
.type-of .type-of-container .product-con .product-item-color {
  width: calc(30vw - 1rem);
  position: relative;
}
.type-of .type-of-container .product-con .product-item img,
.type-of .type-of-container .product-con .product-item-color img {
  width: 80%;
}
.type-of .type-of-container .product-con .product-item .img-btn,
.type-of .type-of-container .product-con .product-item-color .img-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: white;
}
.type-of .type-of-container .product-con .product-item-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.type-of .type-of-container .product-con .product-item-color p {
  margin-top: 2%;
}
.type-of .type-of-container .product-con .product-item-color button {
  border: none;
  background: #ECECEC;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.recommend-website .recommend-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.recommend-website .recommend-container > p:first-child {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 60px;
}
.recommend-website .recommend-container hr {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 100px;
}
.recommend-website .re-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.recommend-website .re-container .re-item {
  background: #ECECEC;
  width: 20rem;
  height: 22rem;
  text-align: center;
  padding: 2rem;
  padding-top: 3rem;
}
.recommend-website .re-container .re-item h2 {
  margin-bottom: 2rem;
}
.recommend-website .re-container .re-item p {
  font-size: 1.5rem;
}
.recommend-website .re-container .re-item:not(:last-child) {
  margin-right: 5rem;
}

.modal-block {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-block .img-section {
  width: 100vw;
  height: 90vh;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.modal-block .img-section span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal-block .img-section span:before {
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
}
.modal-block .img-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.modal-block .caption {
  font-size: 20px;
  letter-spacing: 0.09em;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}
footer .footer-container .footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background: #ECECEC;
}
footer .footer-container .footer-upper p:not(last-child) {
  margin-top: 1rem;
}
footer .footer-container .footer-upper .logo {
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  width: 15rem;
}
footer .footer-container .footer-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DADADA;
  padding: 2rem 6rem;
}
footer .footer-container .footer-lower .footer-logos a {
  font-size: 2.2rem;
  color: black;
}
footer .footer-container .footer-lower .footer-logos a:not(:last-child) {
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
