header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 100;

    .nav-left {
        display: flex;
        align-items: center;

        .logo {
            font-size: 3em;
            font-weight: 700;
            text-decoration: none;
            color: black;
            margin-right: 2rem;
            width: 12rem;
        }
    }

    
    
    .nav-link {
        a {
            text-decoration: none;
            color: black;
            font-size: 1.2em;
        }

        a:not(:last-child) {
            margin-right: 10px;
        }
    }

    .icons-link {
        a {
            font-size: 1.2em;
            color: black;
            font-size: 1.6em;
        }

        a:not(:last-child) {
            margin-right: 20px;
        }
    }
}