.home {
    background: url('../../src/images/home-bg-3.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10rem;
        
        .search-form {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 100px;
            height: fit-content;
            width: 20rem;
    
            form {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .search-box {
                    background: transparent;
                    outline: none;
                    border: none;
                    padding: 1rem;
                    font-size: 1.2em;
                }
    
                label{
                    padding-right: 1rem;
                }
            }
        }
    
        h2 {
            font-weight: 700;
            font-size: 60px;
            margin-top: 4rem;
            text-shadow: 2px 2px #ECECEC;
        }
    
        h3 {
            font-weight: 500;
            font-size: 40px;
            margin-top: 7rem;
            text-shadow: 2px 2px #ECECEC;
        }
    }
}

.type-of {
    
    .type-of-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

        > p {
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 40px;
            font-size: 60px;
        }
        
        hr{
            margin: 0 auto;
            width: 40%;
            margin-bottom: 100px;
        }
        
        .product-con {
            display: grid;
            grid-template-columns: repeat(2, minmax(180px, 1fr)); //สร้างกรอบขึ้นมมาที่ความกว้างเท่าๆกันโดยความสูงขึ้นอยู่กับขนาดรูป
            gap: 7rem; //ห่างทุกด้าน
            margin: 0 auto;  
            justify-content: center;

            .product-item,
            .product-item-color {
                width: calc(30vw - 1rem);
                position: relative;
            
                img {
                    width: 80%;
                }
            
                .img-btn {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border: none;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 1.2rem;
                    padding: .5rem 1rem;
                    font-size: 1.2rem;
                    color: white;
                }
            }
            
            .product-item-color {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;

                p {
                    margin-top: 2%;
                }

                button {
                    border: none;
                    background: #ECECEC;
                    padding: .5rem 1rem;
                    margin-top: 1rem;   
                    border-radius: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}


.recommend-website {
    
    .recommend-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        > p:first-child {
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 40px;
            font-size: 60px;
        }
        
        hr{
            margin: 0 auto;
            width: 40%;
            margin-bottom: 100px;
        } 
    }  

    .re-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5rem;

        .re-item {
            background: #ECECEC;
            width: 20rem;  
            height: 22rem; 
            text-align: center;
            padding: 2rem;
            padding-top: 3rem;

            h2  {
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .re-item:not(:last-child) {
            margin-right: 5rem;
        }
    }

    
}

// for zoom img 
.modal-block {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);

    .img-section {
        width: 100vw;
        height: 90vh;
        position: relative;
        margin: 0 auto;
        text-align: center;

        span {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;

            &:before {
                content: "";
                width: 100vw;
                height: 100vh;
                display: block;
            }
        }

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    .caption {
        font-size: 20px;
        letter-spacing: 0.09em;
        color: #fff;
        margin-top: 10px;
        text-align: center;
    }
}